.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  align-items: center;
  justify-content: center;
  font-size: xxx-large;
  background-color: var(--bg-dark);
}
